<div class="containt" *ngFor="let section of boardData">
  <div id="section.name" class="row">
    <h4 align="center">
      {{ section.name }}
      <i
        id="addCard"
        class="fa fa-plus-circle"
        (click)="addCard(section.cardTitle)"
        title="Add"
      ></i>
    </h4>
  </div>
  <section id="section.cards" class="card-section row col-md">
    <app-card
      *ngFor="let card of section.cards"
      color="{{ section.cardColor }}"
      cardData="{{ card }}"
    ></app-card>
  </section>
</div>
